<mat-toolbar>
  <app-search-box
    (searchTextChanged)="onSearchTextChanged($event)"
  ></app-search-box>
  <span class="header-spacer"></span>

  <button
    mat-icon-button
    class="add-button"
    matTooltip="Add New Feature"
    (click)="addNewFeature()"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
</mat-toolbar>

<div class="features-container">
  <div class="features-inner-container">
    <app-feature-tree
      [data]="data"
      (treeChanged)="refreshDataHttp()"
    ></app-feature-tree>
  </div>
  <mat-paginator
    [length]="length"
    [pageIndex]="offset / limit"
    [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</div>
