.login-container {
  height: 100%;

  display: flex;
  justify-content: center;
}
.login-form {
  min-width: 225px;
  width: 30%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.full-width {
  width: 100%;
}
