form {
  display: flex;
  flex-direction: column;

  max-width: 500px;
  width: 50vw;
}

h2 {
  margin-left: 24px;
}

.service-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

small {
  color: red;
}
