<h2>Edit Service</h2>
<div mat-dialog-content>
  <form [formGroup]="updateServiceForm">
    <mat-form-field class="method-mat-form">
      <mat-label>Method</mat-label>
      <mat-select
        formControlName="method"
        name="method"
        [(ngModel)]="service.method"
        #methodSelect
        (selectionChange)="updateEndpoint()"
      >
        <mat-option value="GET">GET</mat-option>
        <mat-option value="POST">POST</mat-option>
        <mat-option value="PATCH">PATCH</mat-option>
        <mat-option value="PUT">PUT</mat-option>
        <mat-option value="DELETE">DELETE</mat-option>
        <mat-option value="HEAD">HEAD</mat-option>
        <mat-option value="CONNECT">CONNECT</mat-option>
        <mat-option value="OPTIONS">OPTIONS</mat-option>
        <mat-option value="TRACE">TRACE</mat-option>
      </mat-select>
    </mat-form-field>

    <small *ngIf="endpointError">{{ endpointError }}</small>
    <p
      *ngIf="!hasClickedOnEndpoint; else matFormEndpoint"
      (click)="editEndpoint()"
      class="clickable-input"
    >
      {{ service.endpoint }}
    </p>
    <ng-template #matFormEndpoint>
      <mat-form-field class="clickable-input" appearance="outline">
        <input
          matInput
          type="text"
          formControlName="endpoint"
          name="endpoint"
          [(ngModel)]="service.endpoint"
          (input)="verifyEndpoint()"
          (blur)="updateEndpoint()"
          #endpointInput
        />
      </mat-form-field>
    </ng-template>

    <span><strong>Description:</strong></span>

    <mat-form-field
      [ngClass]="service.description ? 'input-description' : ''"
      class="clickable-input"
      appearance="outline"
      *ngIf="!hasClickedOnDescription; else matFormDescription"
      (click)="editDescription()"
    >
      <textarea
        matInput
        class="clickable-input"
        type="text"
        value="{{ service.description || 'Add a more detailed description' }}"
        disabled="true"
      ></textarea>
    </mat-form-field>
    <ng-template #matFormDescription>
      <mat-form-field
        *ngIf="hasClickedOnDescription"
        class="input-description"
        appearance="outline"
      >
        <textarea
          matInput
          type="text"
          formControlName="description"
          name="description"
          [(ngModel)]="service.description"
          (blur)="updateDescription()"
          #descriptionTextarea
        ></textarea>
      </mat-form-field>
    </ng-template>

    <div mat-dialog-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!updateServiceForm.valid"
      >
        Update service
      </button>
      <button mat-raised-button (click)="cancel()" type="reset">Close</button>
    </div>
  </form>
</div>
