<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" class="node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <button mat-icon-button (click)="openServiceDetails(node)">
      <mat-icon [ngClass]="node.method + 'Service'">
        assignment
      </mat-icon></button
    ><span (click)="openServiceDetails(node)">{{ node.name }}</span>
    <button mat-icon-button (click)="deleteService(node)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-tree-node>
  <mat-tree-node
    *matTreeNodeDef="let node; when: isFalseService"
    matTreeNodePadding
    class="false-service"
  >
    <button mat-icon-button disabled></button>
    No service registered for this feature
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button
      mat-icon-button
      matTreeNodeToggle
      [attr.aria-label]="'Toggle' + node.name"
    >
      <mat-icon>
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
    </button>
    <button mat-icon-button (click)="openFeatureDetails(node)">
      <mat-icon>folder</mat-icon>
    </button>
    <span class="node" (click)="openFeatureDetails(node)">{{ node.name }}</span>

    <button mat-icon-button (click)="addService(node)">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteFeature(node)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>
