mat-tree {
  padding: 1rem;
}

.node:hover {
  cursor: pointer;
}

.getService {
  color: purple;
}

.postService {
  color: green;
}

.patchService {
  color: yellow;
}

.putService {
  color: orange;
}

.deleteService {
  color: red;
}

.false-service {
  opacity: 0.7;
  font-style: italic;
}
