<p><strong>Name: </strong>{{ feature.name }}</p>
<p><strong>Description: </strong>{{ feature.description }}</p>
<p class="service">
  {{ feature.services.length }} service{{
    feature.services.length > 1 ? "s" : ""
  }}
</p>
<nav>
  <button mat-raised-button color="primary" (click)="openDetailsModal()">
    Details
  </button>
  <button mat-raised-button color="primary">Edit</button>
  <button
    mat-raised-button
    color="warn"
    (click)="openDeleteConfirmationModal()"
  >
    Delete
  </button>
</nav>
