<app-header (menuClicked)="sideNavComponent.sidenav.toggle()">
  <h1>Features</h1>

  <app-search-box
    (searchTextChanged)="onSearchTextChanged($event)"
  ></app-search-box>
  <span class="header-spacer"></span>

  <button
    mat-icon-button
    class="add-button"
    matTooltip="Add New Feature"
    (click)="addNewFeature()"
  >
    <mat-icon>add</mat-icon>
  </button>
</app-header>
<app-side-nav>
  <div class="main-container">
    <app-feature-tree
      [data]="data"
      (treeChanged)="refreshData()"
    ></app-feature-tree>
  </div>
</app-side-nav>
