<div mat-dialog-content>
  <form [formGroup]="updateFeatureForm">
    <small *ngIf="updateFeatureForm.get('name')?.hasError('hasValidCharacters')"
      >You can't use special characters here</small
    >
    <h2 *ngIf="!hasClickedOnTitle; else matFormTitle" (click)="editTitle()">
      {{ feature.name }}
    </h2>
    <ng-template #matFormTitle>
      <mat-form-field
        *ngIf="hasClickedOnTitle"
        (blur)="updateTitle()"
        class="input-title"
        appearance="outline"
      >
        <input
          matInput
          type="text"
          formControlName="name"
          name="name"
          [(ngModel)]="feature.name"
          (blur)="updateTitle()"
        />
      </mat-form-field>
    </ng-template>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input
        matInput
        type="text"
        formControlName="description"
        name="description"
        [(ngModel)]="feature.description"
        (blur)="updateDescription()"
      />
    </mat-form-field>

    <div mat-dialog-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!updateFeatureForm.valid"
      >
        Update Feature
      </button>
      <button mat-raised-button (click)="cancel()" type="reset">Close</button>
    </div>
  </form>
</div>
