form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 50vw;
}
h2 {
  color: black;
}
small {
  color: red;
}

.input-title,
.input-title div {
  font-weight: bold;
  font-size: 20px;

  border-color: white;
}

.input-description input {
  color: black;
}
