<div mat-dialog-content>
  <form [formGroup]="updateFeatureForm">
    <small *ngIf="updateFeatureForm.get('name')?.hasError('hasValidCharacters')"
      >You can't use special characters here</small
    >
    <h2 *ngIf="!hasClickedOnTitle; else matFormTitle" (click)="editTitle()">
      {{ feature.name }}
    </h2>
    <ng-template #matFormTitle>
      <mat-form-field
        *ngIf="hasClickedOnTitle"
        (blur)="updateTitle()"
        class="input-title"
        appearance="outline"
      >
        <input
          matInput
          type="text"
          formControlName="name"
          name="name"
          [(ngModel)]="feature.name"
          (blur)="updateTitle()"
        />
      </mat-form-field>
    </ng-template>

    <span><strong>Description:</strong></span>

    <mat-form-field
      [ngClass]="feature.description !== '' ? 'input-description' : ''"
      appearance="outline"
      *ngIf="!hasClickedOnDescription; else matFormDescription"
      (click)="editDescription()"
    >
      <input
        matInput
        type="text"
        value="{{ feature.description || 'Add a more detailed description' }}"
        disabled="true"
      />
    </mat-form-field>
    <ng-template #matFormDescription>
      <mat-form-field
        *ngIf="hasClickedOnDescription"
        (blur)="updateDescription()"
        class="input-description"
        appearance="outline"
      >
        <input
          matInput
          type="text"
          formControlName="description"
          name="description"
          [(ngModel)]="feature.description"
          (blur)="updateDescription()"
        />
      </mat-form-field>
    </ng-template>

    <div mat-dialog-actions>
      <button mat-raised-button (click)="cancel()" type="reset">Close</button>
    </div>
  </form>
</div>
